<div class="container viewerCanvas">
	<h3>Welcome to Free Read, our brand new feature which allows you to search for and read the books you love. For free, here on our site!</h3>
	<div class="bookSearchField">
		{{input class="bookSearch" placeholder="Book Search" value=searchValue}}
		<button class="nav-btn btn btn-primary bookSearchBtns" {{action 'viewBooks'}}>Search</button>
		{{#if isReading}}
			<button class="nav-btn btn btn-primary bookSearchBtns" {{action 'showBooks'}}>Show Found Books</button>
		{{else}}
			<button class="nav-btn btn btn-primary bookSearchBtns" {{action 'hideBooks'}}>Hide Found Books</button>
		{{/if}}
	</div>

	{{#if isReading}}
	{{else}}
	<div class="row customList">
		{{#each books as |book|}}
			{{#each book as |oneBook| }}
			<div class="col-xs-4 col-sm-4 col-md-5 searchedBookList">

			{{#if oneBook.volumeInfo.imageLinks.thumbnail}}
				<img class="bookImage" src={{oneBook.volumeInfo.imageLinks.thumbnail}} alt="/assets/images/image-unavailable.jpg" width='100%'>
			{{else}}
				<img class="bookImage" src="/assets/images/image-unavailable.jpg" width='100%'>
			{{/if}}
				<br>
				<span>{{oneBook.volumeInfo.title}}</span>
				{{#if oneBook.accessInfo.embeddable}}
				<button class="nav-btn btn btn-primary" {{action "readBook" oneBook.volumeInfo.industryIdentifiers.[0].identifier}}>Read This Book</button>
				{{/if}}
			</div>
			{{/each}}
		{{/each}}
	</div>
	{{/if}}
	<div id="viewerCanvas"></div>
</div>